Source: libcpr
Section: devel
Priority: optional
Maintainer: Philip Sändig <deb@libcpr.org>
Build-Depends: libssl-dev, libcurl4-openssl-dev, cmake, debhelper-compat (= 13)
Standards-Version: 4.6.0.1
Homepage: http://libcpr.org
Rules-Requires-Root: no

Package: libcpr1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libssl3, libcurl4, ${misc:Depends}, ${shlibs:Depends}
Description: C++ wrapper library around libcurl - shared library
 The project is inspried by the Python Request project.
 Using the more expressive language facilities of C++11,
 it captures the essence of making network calls into a
 few concise idioms.
 .
 This package contains the shared library for running
 applications using libcpr.

Package: libcpr-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libcpr1 (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}
Description: C++ wrapper library around libcurl - development files
 The project is inspried by the Python Request project.
 Using the more expressive language facilities of C++11,
 it captures the essence of making network calls into a
 few concise idioms.
 .
 This package contains the development library for
 building applications with libcpr.

